atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.4
funcsigs==1.0.2
idna==3.2
mock==4.0.3
more-itertools==8.10.0
pbr==5.5.1
pluggy==0.13.1
polling==0.3.0
py==1.10.0
pytest==6.2.5
requests>=2.25.1
scandir==1.10.0
six==1.16.0
urllib3>=1.26.6
